
<main class="main-apartmani">
    <div class="app_header">
        <%= image_tag "app_header.jpg", alt:"apartmani zaglavlje"%>
        <div class="title">
            <h2>U ponudi imamo 2 apartmana</h2>
            <a href="#apartman1">Saznajte više</a>
        </div>
    </div>
    <div class="o-apartmanima">
        <p>
            Moderno opremljeni apartmani u mirnom naselju Marina. Objekt se nalazi 2 minute hoda do plaže te 10 minuta hoda do centra. <br>
            U okviru objekta na raspolaganju su oprema za roštilj, besplatni parking, terasa te balkon sa kojeg se pruža predivan pogled na more. <br>
            Svaki apartmani sadrži blagovaonicu, kuhinju, dnevni boravak, kupatilo, dvije spavaće sobe te balkon i terasu. Kuhinja je opremljena pećnicom, <br>
            hladnjakom, štednjakom, mikrovalnom, perilicom za suđe te električnim kuhalom za vodu. U svakoj spavaćoj sobi nalazi se bračni krevet. <br>
            Također, u svakom apartmanu se nalazi jedna kupaonica sa perilicom za rublje. U sklopu Apartmana Ann dostupni su besplatni Wi-Fi, ručnici te posteljina. <br>
        </p>
        <div id="apartman1"></div>
    </div>
    <div class="apartmani">
        <div>
            <h2>Apartman 1</h2>
            <div class="ap1-grid">
                <div class="g1"></div>
                <div class="g2"></div>
                <div class="g3"></div>
                <div class="g4"></div>
                <div class="g5"></div>
                <div class="g6"></div>
                <div class="g7"></div>
                <div class="g8"></div>
                <div class="g9"></div>
                <div class="g10"></div>
                <span id="apartman2"></span>
            </div>   
            
        <div>
            <h2>Apartman 2</h2>
            <div class="ap2-grid">
                <div class="g1"></div>
                <div class="g2"></div>
                <div class="g3"></div>
                <div class="g4"></div>
                <div class="g5"></div>
                <div class="g6"></div>
                <div class="g7"></div>
                <div class="g8"></div>
                <div class="g9"></div>
                <div class="g10"></div>
            </div>   
        </div>
    </div>
</main>

