<footer>
    <div class="footer-main">
            <div>
            <h3>Kontakt</h3>
            <p>+385 98 974/5729</p>
            <p>+385 98 235/4321</p>
            </div>
            <div>
            <h3>Informacije</h3>
            <p>Vlasnik: Ana Budimir</p>
            <p>OIB: 32162253217</p>
            <p>apartmani.ann@gmail.com</p>
            </div>
            <div>
            <h3>Lokacija</h3>
            <a href="https://www.google.com/maps/dir//43.5179596,16.1165763/@43.5179359,16.1164159,18z" target="_blank" id="lokacija">Prališće II 6, Marina</a>
            </div>
            <div>
            <h3>Korisni linkovi</h3>
            <a href="index.html">Početna</a>
            <a href="apartmani.html">Apartmani</a>
            <a href="lokacija.html">Lokacija</a>
            <a href="kontakt.html">Kontakt</a>
            </div>
    </div>
    <div>
        <p>Copyright © 2021 - Marko Budimir. Sva prava pridržana.</p>
    </div>
</footer>